jq
langchain-community
langchain-core
# langchain-openai
langchain-text-splitters
# langchain-unstructured
langgraph
# pymupdfpro
markdown
msoffcrypto-tool
networkx
pandas
pydantic
pydantic-settings
pytesseract
qdrant-client
spacy
unstructured