extract-msg
fastembed
jq
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
# langchain-unstructured
markdown
msoffcrypto-tool
neo4j
networkx
pandas
prefect
pydantic
pydantic-settings
pytesseract
qdrant-client
spacy
unstructured